<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}マイ Web ゲーム{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<body>
    <header>
        <div class="stars"></div>
        <h1>My Web Game</h1>
        <nav>
            <a href="{{ url_for('home') }}">ホーム</a>
            <a href="{{ url_for('contact') }}">お問い合わせ</a>
            <a href="{{ url_for('about') }}">僕について</a>
            <a href="{{ url_for('donation') }}">献金</a>
            <!--<a href="{{ url_for('services') }}">サービス</a>-->

        </nav>
    </header>
    <main>
        {% block content %}
        <!-- 子テンプレートでこの部分が上書きされる -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 My Web Game</p>
    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
