{% extends "base.html" %}

{% block title %}
献金 - 私のウェブサイト
{% endblock %}

{% block content %}
<!-- PC向け -->
<div class="pc-only">
<h1>献金のお願い</h1>
    <p><h1>
    私のウェブサイトを運営するための献金をお願いしています。
    このサイトは皆さまのあたたかいサポートで運営されています。
    よろしければ、未来に希望を届けるこの活動にご支援いただけると嬉しいです。
    小さな献金でも、大きな励ましになります。
</h1></p>
</div>

<!-- スマホ向け -->
<div class="mobile-only">
    <p>献金のお願い
    サイト運営のため
    献金をお願いしています。
    小さな支えが、大きな力に✨
    応援してくれてありがとう！
    </p>
</div>

<!-- PayPalのQRコード画像の表示 -->
<img src="{{ url_for('static', filename='img/paypal2-qrcode.png') }}" alt="PayPal QRコード" style="width:200px; height:auto; margin-top:20px;">

{% endblock %}
